@mixin kill-btn {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

@mixin btn {
  padding: 0.2rem 0.4rem;
  border-radius: .2rem;
}

@mixin bg {
  font-size: 1rem;
}

@mixin curve {
  border-radius: .2rem;
}

@mixin outline--success {
  background: transparent;
  border: 1px solid $btn-success;
  color: $btn-success;
  @include transition-ease;

  &:hover {
    cursor: pointer;
    background: $btn-success;
    color: white;
  }
}

@mixin success {
  background: $btn-success;
  color: white;
  &:hover {
    cursor: pointer;
    background: darken($btn-success, 10);
  }
}

@mixin btn--outline--success {
  @include btn;
  @include outline--success;
}

@mixin btn--bg--curve--success {
  @include kill-btn;
  @include btn;
  @include bg;
  @include curve;
  @include success;
}

//-------------------
@mixin btn{
  border: none;
  box-shadow: none;
  padding: .25rem .5rem;
  cursor: pointer;
  background: rgb(236, 236, 236);
  transition: all 200ms ease-in-out;
}

.btn{
  @include btn;
}

.btn:hover{
  background: rgb(212, 211, 211);
}

.btn-primary{
  @include btn;
  background: $color-parmary;

  &:hover{
    background: darken($color-parmary, 10);
  }
}

