.cart {
  right: 0px;
  bottom: 50%;
  transform: translateY(50%);
  position: fixed;
  color: $color-text-secondary;
  background: transparent;
  @include transition-ease;
  z-index: 11;

  &--compact {
    background: $color-parmary;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    display: block;
    box-shadow: -1px 1px 3px -1px #000000;

    &:hover {
      @include pointer-cursor;
    }

    &__icon {
      @include grid--xy--center;
      margin-bottom: 0.5rem;

      img {
        max-width: 25px;
      }
    }

    &__amount {
      @include text--md--bold;
      margin-top: 3px;
      text-align: center;
      background: $color-bg;
      color: $color-text-primary;
      padding: 0.4rem 0.4rem;
      font-weight: bold;
      border-bottom-left-radius: 0.4rem;
      font-size: 15px;
    }

    &__item-count {
      @include text--md--bold;
      margin-bottom: 0.5rem;
      text-align: center;
      background: darken($color-parmary, 10);
      color: $color-text-secondary;
      padding: 0.4rem 0.4rem;
      font-weight: bold;
      border-top-left-radius: 0.4rem;
      font-size: 17px;
    }
  }

  &--expan {
    height: 100vh;
    display: none;
    box-shadow: -1px 1px 3px -1px #000000;
    grid-template-rows: auto 1fr auto auto;
    &__header {
      @include flex--x--space-between;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      background: $color-parmary;

      &--text {
        padding: 0.5rem;
      }

      &--close {
        padding: 0.5rem;

        &:hover {
          @include pointer-cursor;
        }
      }
    }

    &__items {
      width: 300px;
      background: $color-foreground;
      color: $color-text-primary;
      overflow-y: scroll;

      &--empty-message {
        @include text--md--bold;
        padding: 0.4rem;
        text-align: center;
      }
    }

    &__calc {
      background: $color-bg;
      color: $color-text-primary;
      padding: 0.5rem;
      @include text--md--bold;

      &--item-count {
        @include flex--x--space-between;
        margin-bottom: 0.5rem;
      }

      &--total-amount {
        @include flex--x--space-between;
      }
    }

    &__actions {
      @include flex--space-between;
      padding: 0.5rem;
      background: $color-foreground;

      button {
        @include btn--bg--curve--success;
      }
    }
  }
}
