*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    width: 100vw;
}

@function set-text-color($color){
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff; 
    }
}

@mixin media-xl{
    @media screen and (max-width: 1600px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}

@mixin media-min-1000 {
    @media screen and (min-width: 1000px) and (max-width: 1023px){
        @content;
    }
}


@mixin media-min-900 {
    @media screen and (min-width: 900px) and (max-width: 999px){
        @content;
    }
}

@mixin media-min-800 {
    @media screen and (min-width: 800px) and (max-width: 899px){
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) and (max-width: 799px){
        @content;
    }
}


@mixin media-min-600 {
    @media screen and (min-width: 600px) and (max-width: 767px){
        @content;
    }
}

@mixin media-sm {
    @media screen and (min-width: 480px) and (max-width: 599px){
        @content;
    }
}


@mixin media-xs {
    @media screen and (max-width: 479px) {
        @content;
    }
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }