@mixin gap($c: 0, $r: 0) {
    column-gap: $c;
    row-gap: $r;
}

@mixin flex {
    display: flex;
}

@mixin flex--y {
    flex-direction: column;
}


@mixin flex--x--space-between($g: 0) {
    @include flex;
    @include gap($g);
    justify-content: space-between;
}

@mixin flex--x--space-between--y--base {
    @include flex--x--space-between;
    align-items: baseline;
}

@mixin flex--x--space-between--y--center($c: 0) {
    @include flex--x--space-between;
    @include gap($c);
    align-items: center;
}

@mixin flex--xy--center {
    @include flex;
    justify-content: center;
    align-items: center;
}

@mixin flex--x--start--y--center {
    @include flex;
    justify-content: start;
    align-items: center;
}

@mixin flex--y--center {
    @include flex;
    @include flex--y;
    justify-content: center;
}

//-----------------------------------//

.fx-row{
    flex-direction: row;
}
.fx-col{
    flex-direction: column;
}
.fx-right{
    display: flex;
    justify-content: flex-end;
}
.fx-between{
    display: flex;
    justify-content: space-between;
}
.fx-hor-between-ver-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fx-hor-start-ver-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.fx-hor-start-ver-start{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.fx{
    display: flex;
    
    &.column{
        flex-direction: column;
    }

    &.between{
        justify-content: space-between;
    }
}