@mixin grid {
    display: grid;
}

@mixin grid--xy--center {
    @include grid;
    place-items: center;
}

.center{
    display: grid !important;
    place-items: center;
}
.grid-1-to-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-1-to-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-1-to-auto{
    display: grid;
    grid-template-columns: 1fr auto;
}