input.material{
    border: 2px solid silver;
    padding: 8px 0;
    border-width: 0 0 2px 0;
    width: 200px;
    margin-top: 15px;
    transition: border-color .3s;

    &:focus, &:hover {
      border-color: #03a9f4;
      outline: 0;
    }
    &.warning {
      border-color: #ff9800;
    }
    
    &.error {
      border-color: #f44336;
    }
    
    &.valid {
      border-color: #4caf50;
    }
    
    
}
