.bg-nav-top {
  background: $top-nav-color;
}

.bg-nav-mid {
  background: $mid-nav-color;
  z-index: 10;
  position: sticky;
  top: 0;
}

.bg-nav-bottom {
  background: $bottom-nav-color;
  z-index: 10;
  position: sticky;
  top: 80px;
  box-shadow: 0px 2px 4px -1px black;
}

.nav-top {
  @include container;
  @include flex--x--space-between;

  &__contacts {
    @include flex;
    column-gap: 1.5rem;

    &--contact {
      @include flex--x--space-between--y--center(0.5rem);
      @include text--md;
    }
  }

  &__download {
    @include flex--x--space-between--y--center;
    @include text--md;
    column-gap: 1rem;

    .text{
      color: $color-parmary;
    }

    .icon {
      @include flex--x--space-between--y--center;
      column-gap: .5rem;
      @include pointer-cursor;
    }
  }
}

.nav-mid {
  @include container;
  @include flex--x--space-between--y--center;
  column-gap: 1rem;
  padding: 1.25rem 2rem;

  &__logo {
    @include flex--x--space-between--y--center;
    width: 240px;
    height: auto;

    img {
      max-width: 100%;
    }
  }

  &__search {
    @include flex--xy--center;
    width: 100%;

    input {
      @include kill;
      @include text--sm;
      width: 100%;
      max-width: 500px;
      height: 40px;
      padding: 0 17px;
      border: 2px solid $color-parmary;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;

      &:focus {
        background: $color-bg;
      }
    }

    button {
      @include kill;
      @include grid--xy--center;
      height: 40px;
      padding: 5px 29px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: $color-parmary;

      &:hover {
        @include pointer-cursor;
      }

      img {
        width: 25px;
      }
    }
  }

  &__links {
    @include kill-ul;
    @include flex;
    column-gap: 1rem;

    &--link {
      @include grid--xy--center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: -1px 1px 3px -1px #000000;

      img {
        @include icon--sm;
      }
    }
  }
}

.nav-bottom {
  @include container;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;

  &__items {
    @include flex--x--start--y--center;
    @include text--sm;

    &__btns {
      @include text--lg--bold--uppercase;
      @include flex--xy--center;
      font-size: 1rem;
      column-gap: 1rem;
      height: 48px;
      padding: 0.25rem 1rem;
      background: $color-secondary;
      color: $color-text-secondary;

      &--ham {
        img {
          @include pointer-cursor;
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          border-radius: 0.125rem;

          &:hover {
            background: initial;
          }
        }
      }

      &--category-dropdown-btn {
        @include flex--x--space-between--y--center;
        @include pointer-cursor;
        column-gap: 2rem;
        padding: 0.5rem;
        border-radius: 0.125rem;

        &:hover {
          background: initial;
        }
      }
    }

    &__links {
      padding: 0.25rem 1.5rem;

      &--link {
        @include kill-anchore;
        @include text--md--bold;
        padding: 0.25rem 1rem;
        color: $color-text-secondary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
