.bg-perks {
  background: $color-foreground;
}

.perks {
  @include container;
  border-bottom: 1px solid $color-perk-border;

  &__slider {
    @include grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;

    &__perk {
      @include flex--x--start--y--center;
      column-gap: 0.5rem;
      border-right: 1px solid $color-perk-border;

      &:last-child {
        border-right: none;
      }

      &--icon {
        width: 52px;

        img {
          width: 52px;
        }
      }

      &--text {

        h3 {
          @include text--md--bold;
          margin-bottom: 0.5rem;
          color: $color-parmary;
        }
      }
    }
  }
}
