.bg-products {
  background: $color-foreground;
}

.product-row {
  @include container;
  overflow-x: hidden;
  background-color: $color-bg;
  margin-bottom: 1rem;
  border-radius: .5rem;


  &:first-child{
    margin-top: 1rem;
  }

  &__item {
    overflow-x: hidden;
    &__title {
      @include text--lg--bold--uppercase;
      @include flex--x--space-between--y--center;
      padding: 0.5rem 1.25rem;

      &--text {
        a {
          @include kill-anchore;
          @include transition-ease;
          color: $color-parmary;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__actions {
        @include flex;
        column-gap: 20px;

        button.view-all {
          @include btn--outline--success;
        }
      }
    }

    &__slider {
      &__items {
        @include flex;
        @include gap(1rem);
        padding: 0 0 0.5rem 0;
        align-items: stretch;
      }

      &__buttons {
        @include flex--hor-end;
        background: $color-bg;
        button {
          @include button--icon--round(30px, 30px);
          margin: 0.5rem;
          box-shadow: -1px 1px 3px -1px #000000;
          padding: 0.2rem;
          background: $color-foreground;
        }
      }
    }
  }
}
