@mixin text--bold {
  font-weight: bold;
}

@mixin text--uppercase {
    text-transform: uppercase;
}

@mixin text--center {
  text-align: center;
}

@mixin text--sm {
  font-size: 0.75rem;
}

@mixin text--sm--bold {
  @include text--sm;
  @include text--bold;
}

@mixin text--md {
  font-size: 0.88rem;
}

@mixin text--md--uppercase {
  @include text--md;
  @include text--uppercase;
}

@mixin text--md--bold {
  @include text--md;
  @include text--bold;
}

@mixin text--md--bold--uppercase {
  @include text--md--bold;
  @include text--uppercase;
}

@mixin text--md--bold--uppercase--center{
  @include text--md--bold--uppercase;
  @include text--center;
}

@mixin text--lg {
  font-size: 1.25rem;
}

@mixin text--lg--bold {
  @include text--lg;
  @include text--bold;
}

@mixin text--lg--bold--uppercase {
    @include text--lg--bold;
    @include text--uppercase;
  }

@mixin text-limited {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// utilities font-size
.t-8{
  font-size: .5rem;
}
.t-12{
  font-size: .75rem;
}
.t-14{
  font-size: .88rem;
}
.t-16{
  font-size: 1rem;
}
.t-18{
  font-size: 1.125rem;
}
.t-20{
  font-size: 1.5rem;
}
.t-24{
  font-size: 2rem;
}
.t-30{
  font-size: 1.875rem;
}
.t-48{
  font-size: 3rem;
}

// line height
.line-height{
  line-height: 1.5em;
}


// font-weight
.t-light{
  font-weight: 400;
}
.t-bold{
  font-weight: 600;
}

// alignment
.t-left{
  text-align: left;
}
.t-right{
  text-align: right;
}
.t-center{
  text-align: center;
}
.t-justify{
  text-align: justify;
}

.t-capitalize{
  text-transform: capitalize;
}
.t-uppercase{
  text-transform: uppercase;
}

.t-limited {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.t-line-thro{
  text-decoration: line-through;
}

// text colors
.t-primary{
  color: $color-parmary;
}
.t-secondary{
  color: $color-secondary;
}
.t-white{
  color: white;
}
.t-black{
  color: black;
}
.t-gray{
  color: rgba(0, 0, 0, 0.658);
}
.t-danger{
  color: $color-secondary;
}

// hover
.t-hover-underline{
  text-decoration: none;
  
  &:hover{
    text-decoration: underline;
  }
}

.t-hover-primary{
  &:hover{
    color: $color-parmary;
  }
}