@mixin text--bold {
  font-weight: bold;
}

@mixin text--uppercase {
    text-transform: uppercase;
}

@mixin text--center {
  text-align: center;
}

@mixin text--sm {
  font-size: 0.75rem;
}

@mixin text--sm--bold {
  @include text--sm;
  @include text--bold;
}

@mixin text--md {
  font-size: 0.88rem;
}

@mixin text--md--uppercase {
  @include text--md;
  @include text--uppercase;
}

@mixin text--md--bold {
  @include text--md;
  @include text--bold;
}

@mixin text--md--bold--uppercase {
  @include text--md--bold;
  @include text--uppercase;
}

@mixin text--md--bold--uppercase--center{
  @include text--md--bold--uppercase;
  @include text--center;
}

@mixin text--lg {
  font-size: 1.25rem;
}

@mixin text--lg--bold {
  @include text--lg;
  @include text--bold;
}

@mixin text--lg--bold--uppercase {
    @include text--lg--bold;
    @include text--uppercase;
  }

@mixin text-limited {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// utilities
.t-12{
  font-size: .75rem;
}
.t-16{
  font-size: 1rem;
}
.t-18{
  font-size: 1.5rem;
}
.t-bold{
  font-weight: 600;
}
.t-left{
  text-align: left;
}
.t-center{
  text-align: center;
}
.t-light{
  font-weight: 400;
}
.t-uppercase{
  text-transform: uppercase;
}
.t-white{
  color: white;
}