$color-bg: #f5f6f7;
$color-bg-hover: #5f5f5f;
$color-second-bg: #e1e1e1;

$color-foreground: #fff;   

$color-nav: #fff;
$color-nav-link-hover: #e1e1e1;

$color-nav-category-bg: #e1e1e1;

$color-parmary: #00a27a;
$color-secondary: #ed2645;
$color-secondary-hover: #ff4444; 

$color-text-primary: rgb(34, 34, 34);
$color-text-secondary: #f7fbf9;
$color-accent: #fae930;

$color-input-bg: #e1e1e1;

$top-nav-color: #f5f6f7;
$mid-nav-color: #fff;
$bottom-nav-color: #00a27a;

$color-perk-border: #6fffdb;

$color-text-footer: #dedede;
$color-text-footer-2: #bebebe;

$btn-success: $color-parmary;

$color-notification-bar: #d3ffd0;