@import "var";
@import "config";
@import "tooltip";
@import "mixins";
@import "flex";
@import "typo";
@import "grid";
@import "icon";
@import "button-mixins";
@import "classes";
@import "nav";
@import "cart";
@import "cart-product";
@import "footer";
@import "drawer";
@import "search-result";
@import "category-list";
@import "layout";
@import "visual";
@import "element";
@import "utilities";
@import "material";

@import "media-xs";
@import "media-sm";
@import "media-min-600";
@import "media-md";
@import "media-min-800";
@import "media-min-900";
@import "media-min-1000";
@import "media-lg";

.checkout {
  .cart-products-table {
    overflow-x: auto;
    table {
      width: 100%;
      min-width: 550px;
      overflow-x: auto;
    }
  }
  .checkout-product {
    img {
      width: 5rem;
    }

    .quantity-row {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      input {
        width: 40px;
        text-align: center;
      }
      button {
        width: min-content;
      }
    }
  }

  .shipping-contact{
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 100%));
    gap: 1rem;

    input, textarea{
      width: 100%;
    }

    textarea{
      height: 148px;
    }
  }

  .payment-table{
    table{
      border-collapse: collapse;
      width: 100%;
      font-size: 0.88rem;

      td{
        padding: 0.25rem;
        border: 1px solid gray;
      }

    }
  }
}

@media screen and (max-width: 600px){
  .shipping-contact{
    grid-template-columns: 1fr !important;
  }
}
