@import 'var';
@import 'config';
@import 'tooltip';
@import 'mixins';
@import 'flex';
@import 'typo';
@import 'grid';
@import 'icon';
@import 'button-mixins';
@import 'classes';
@import 'nav';
@import 'slider';
@import 'perks';
@import 'notification-bar';
@import 'product-row';
@import 'product';
@import 'cart';
@import 'cart-product';
@import 'footer';
@import 'media-xs';
@import 'media-sm';
@import 'media-min-600';
@import 'media-md';
@import 'media-min-800';
@import 'media-min-900';
@import 'media-min-1000';
@import 'media-lg';
@import 'drawer';
@import 'search-result';

html{
    overflow-x: hidden;
}

body{
    background: white;
    color: $color-text-primary;
    min-height: 100vh;
    max-height: unset;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    position: relative;
    overflow: visible;
}

