@import 'var';
@import 'config';
@import 'tooltip';
@import 'mixins';
@import 'flex';
@import 'typo';
@import 'grid';
@import 'icon';
@import 'button-mixins';
@import 'classes';
@import 'nav';
@import 'cart';
@import 'cart-product';
@import 'footer';
@import 'media-xs';
@import 'drawer';
@import 'search-result';
@import 'category-list';
@import 'layout';
@import 'visual';
@import 'element';
@import 'utilities';
@import 'path';
@import 'product-display';
html{
    overflow-x: hidden;
}

body{
    background: white;
    color: $color-text-primary;
    min-height: 100vh;
    max-height: unset;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    position: relative;
    overflow: visible;
}

.header{
    background: $color-parmary;
    color: $color-text-secondary
}
.products{
    background: $color-bg;
}
.product-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 0.75rem;
    row-gap: .75rem;

    .product{
        width: max-content;
        height: auto;
    }
}
